# Plik z sekretami
.env

# Foldery tymczasowe Pythona
__pycache__/

# Pliki konfiguracyjne edytora (np. PyCharm)
.idea/

# Lokalne skrypty automatyzujące (Windows)
*.bat

# Plik pomocniczy
Nowy Dokument tekstowy.txt

# Wygenerowane pliki audio
static/audio/